#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  box-sizing: border-box;
  color: white;
}
